@import url("tooltips.css");
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-set-2014, 12.55.36
    Author     : sara
*/
.table_result
{
    width: 70%;
    margin-left: 20%;
    margin-top: 30px;
}
.Name_Column{
    width: 35%;
    height:40%;
}
.Status_Column{
    width: 15%;
    height:40%;
}
.Date_Column{
    width: 2%;
    text-align: center;
    height:40%;
}
.Levell_Column{
    width: 1%;
    text-align: center;
    height:40%;
}
.Code_Column{
    width: 20%;
    height:40%;
}
.Certificate_Column{
    width: 5%;
    height:40%;
}
#course_instance_Table caption {
    display:none;
}
#course_instance_Table tbody td
{
    //height:3px;
}
.tooltip {
   background: transparent;
   border-color: transparent;
   cursor: default;
  
 }

.fg-toolbar.ui-widget-header {
    background: repeat-x scroll 50% 50% #BCD6D7;
    border: 2px solid #A3A99A;
    color: #585857;
    font-weight: bold;
}
