@import url("tooltips.css");

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-set-2014, 12.55.36
    Author     : sara
*/

.select_status{
    
}
.Id_Column
{
    width: 3%;
    height:40%;
}
.Name_Column{
    width: 33%;
    height:40%;
 }
.Status_Column{
    width: 10%;
    height:40%;
}
.Date_Column{
    width: 20%;
    text-align: center;
    height:40%;
}
.Level_Column{
    width: 10%;
    text-align: center;
    height:40%;
}

.table_result{
    display:none;
    margin-top: 0;
    width: 70%;
    margin-left: 110%;

}

.dataTables_wrapper .DataTables_sort_icon {
    float: right;
    margin-top: -20px;
    margin-right: -15px;
}
#course_instance_Table caption {
    display:none;
}

.tooltip {
   background: transparent;
   border-color: transparent;
   cursor: default;
 }

table.dataTable tr.odd .linkCertificate
{
  background:#CCC;
  margin-top: 2px;
  width: 40px;
  height: 35px;
  -webkit-border-radius: 28;
  -moz-border-radius: 8;
  border-radius: 10px;
}
table.dataTable tr.even .linkCertificate
{
 background:#E2E4FF;
  margin-top: 2px;
  width: 40px;
  height: 35px;
  -webkit-border-radius: 28;
  -moz-border-radius: 8;
  border-radius: 10px;
}

 .Subscription_Button{
  margin-top: 10px;
  margin-bottom: 30px;
  background: #BCD6D7;
  background-image: -webkit-linear-gradient(top, #BCD6D7, #94c3e0);
  background-image: -moz-linear-gradient(top, #BCD6D7, #94c3e0);
  background-image: -ms-linear-gradient(top, #BCD6D7, #94c3e0);
  background-image: -o-linear-gradient(top, #BCD6D7, #94c3e0);
  background-image: linear-gradient(to bottom, #BCD6D7,#94c3e0);
  -webkit-border-radius: 28;
  -moz-border-radius: 8;
  border-radius: 10px;
  font-family: Arial;
  color:black;
  text-decoration: none;
}
.Subscription_Button:hover {
  background:#BCD6D7;
  background-image: -webkit-linear-gradient(top, #BCD6D7, #BCD6D7);
  background-image: -moz-linear-gradient(top, #BCD6D7, #BCD6D7);
  background-image: -ms-linear-gradient(top, #BCD6D7, #BCD6D7);
  background-image: -o-linear-gradient(top, #BCD6D7, #BCD6D7);
  background-image: linear-gradient(to bottom, #BCD6D7,#BCD6D7);
  text-decoration: none;
}

.fg-toolbar.ui-widget-header {
    background: repeat-x scroll 50% 50% #BCD6D7;
    border: 1px solid #A3A99A;
    color: #585857;
    font-weight: bold;
}

.saveResults {
    background: rgba(22, 101, 173, 0.9);
    padding: 5px 0px 15px 0px;    
    -webkit-border-radius: 5px;    
    border-radius: 5px;
    -webkit-box-shadow:  0px 0px 2px 2px rgba(0, 0, 0, .2);
    box-shadow:  0px 0px 2px 2px rgba(0, 0, 0, .2);
    font-size: 1.1em;
}

.saveResults.popup.error  {
    background: rgba(222, 10, 17, 0.9);
}

.saveResults.nonAjax {
	background: none;
	text-align: center;
}

.saveResults p {
	margin:0;
	padding:0;
	border:none;
}

.saveResults .title {
	font-weight: bold;
	text-align : center;
	width: 100%;
	padding: 1px 0px 5px 0px;
	color: #fff;
	border-bottom: 1px solid #a0bfdb;
}

.saveResults .message {
	padding: 15px 0px 0px 0px;
	color:#fff;	
	text-align : center;
	width: 100%;	
}

/**
 * DataTables styles
 */
.dataTables_wrapper caption { width: 20%; margin: -25px auto 0 auto; position: relative; top: -10px; font-weight: bold;   color: #fff; }
.dataTables_wrapper tbody td { height: 2.5em; vertical-align: middle; }
.dataTables_wrapper thead th { padding-right: 5px; }
.dataTables_wrapper .DataTables_sort_wrapper { padding: 5px 0 5px 0; width:90%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.dataTables_wrapper .DataTables_sort_icon { float: right; margin-top: -20px; }
.dataTables_wrapper .dataTables_paginate > a { margin:0; padding: 3px; }
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_paginate { padding: 5px; }
.dataTables_wrapper .dataTables_info { padding: 8px 0 0 5px; }

/**
 * DataTables styles for action column
 */ 
.dataTables_wrapper ul.ulactions { list-style-type: none; display: table-cell; padding:0; }
.dataTables_wrapper li.liactions { float: left; border: none !important; }
.dataTables_wrapper button.editButton,
.dataTables_wrapper button.deleteButton { height: 1.5em; }

