@import url("../page.css");
@import url("../form.css");

ul.inline_menu li {
    margin:0px;
    padding: 5px 0px;
    display:inline-block;
}

ul.inline_menu li a:link,
ul.inline_menu li a:visited{
    color:#222;
    background:#f0f0f0;
    padding:1px;
    display:block;
    padding:2px;
    text-decoration:none;
}

ul.inline_menu li a:hover {
    color:#222;
    background:#d0d0d0;
    padding:1px;
    display:block;
    padding:2px;
    text-decoration:none;
}

ul.inline_menu li a img {
    vertical-align: middle;
}

/*
 * view_info is the class associated to the lists used to show the user profile
 */
ul.view_info {
    list-style-type: none;
    width: 90%;
}

ul.view_info li {
    padding-bottom: 5px;
    padding-top: 5px;
}

ul.view_info span.list_label {
    font-weight: bold;
    text-transform: capitalize;
    display: inline-block;
    width: 200px;
}

ul.view_info span.list_text {
    display: inline-block;

}

/*
 * Tables
 */
td.default_th ul {
    margin: 0px;
    padding: 0px;
}
td.default_th ul li{
    border-bottom: none;
}
td.default_th a:link,
td.default_th a:visited{
    color:#222;
    background:#f0f0f0;
    padding:1px;
    display:block;
    padding:2px;
    text-decoration:none;
}
td.default_th a:hover {
    color:#222;
    background:#d0d0d0;
    padding:1px;
    display:block;
    padding:2px;
    text-decoration:none;
}

.tooltip {
	border: 1px solid #AAAAAA;
	background-color: #F0F0F0;
	color: #000000;
	text-align:left;
	padding:3px;
}

.tooltip ul {
	list-style-type: none;
}

.tooltip li {
	text-align:left;
}

/* style for translation module*/
.translationResults
{
    display:none;
    width: 60%;
    margin-left: 20%;
}

#torna 
{
    background: url(../../img/back.png) no-repeat scroll left; 
    background-position: 0px;
    display:none;
    padding: 0 0, 0, 40px;
}
#torna a
{
    margin-left: 40px;
}

.first_Column 
{ 
    width: 3%;
    height: 5%;
}
.second_Column 
{ 
    //width: 96%;
    height: 5%;
}
.third_Column 
{ 
    width: 3%;
    height: 5%;
}
.buttonTranslate
{
    height: 1.5em;
   
}
.buttonTranslate:hover {
	
    background: transparent;
    border-color: transparent;
}
.EditTranslation
{
    display:none;
    margin-left: 30%;
    margin-top:-330px;
}