/*
@import url("../common.css");
@import url("../mainmenu.css");
*/
@import url("../page.css");
@import url("../exercises.css");
@import url("../form.css");

/* BROWSING STYLE */










#banner {
    position: absolute;
    top: 8px;
    right: 0px;
    left: 450px;
}


#back A {
    /*
    position: absolute;
    top: -2px;
    left: 0px;
    clear: both;
    background: url(../../img/back.png) no-repeat left;
    */
background: url(../../img/back.png) no-repeat center left; display:block; padding:0 0 0 40px;
}

#list {
    position: absolute;
    top: -2px;
    left: 140px;
    background: url(../../img/question_mark.png) no-repeat left;
}

/* notifiche eventi */
#events
{
    position: relative;
    padding: 5px 5px 5px 5px;
    margin-top: -5px;
    margin-left: 330px;
    text-align: left;
    color:#fff;
    background:#808080;
    padding:10px;
    width:500px;
    border:solid 1px #000;
}



/*AIUTO CONTESTUALE
#help {}
.help_off {display: none; }*/

/*CENTRALE*/
#container_registration { position: relative; text-align: left; top: 90px; }



/*contenuto*/
#dattilo {
        padding-top: 10px;
        border-bottom: 1px dotted #DDDDDD;
}
#topcont {
    height: 20px;
    background: url(../../img/topcont.png) no-repeat;
    margin-bottom: -35px;
}

#content_view {
    min-height: 410px;
    padding-top: 40px;
}

.content_small { margin-right: 365px;}
#content li { list-style-type: none; }
#contentcontent {}
.contentcontent_default {
    padding: 0 10px 10px 10px;
	 background-color: White;
}
.contentcontent_view {
     padding: 0px 10px 10px 10px;
	 background-color: White;
}
.contentcontent_note {
	padding: 10px;
	background-color: #FFFFE0;
}
.firstnode {  }

.search { width: 400px; background-color: #ECECEA;  padding: 10px 10px 0px 10px; }
.search form { padding: 10px 5px 0px 5px;  }
.search_results {
    margin-right: 210px;
}


#next_node a {
	line-height: 50px;
	padding-left: 30px;
	padding-bottom: 15px;
	text-decoration: none;
	background-image: url(../../img/freccia_continua.png);
	background-repeat: no-repeat;
	background-position: left top;    
}

/*contenuto: infonodo*/
#info_nodo {
    padding: 5px;
    /*background-color: #FFFF66;*/
    float: right;
    position: relative;
    /*top: -26px;*/
    right: 0;
    text-align: right;
    font-size: small;
}
#bottomcont {
    height:0px;
    /*background: url(../../img/bottomcont.png) no-repeat;*/
}
#bottomcont_note { height:20px; background: url(../../img/bottomcontnote.png) no-repeat; }

.label_extended {
    font-weight: bold;
    background-color: #e8e8e8;
}


.notetipe {

}
/*
#labelview {
    float:left;
    margin: 0px 0 0 0px;

}

#labelview ul {
    margin:0px 0 0 0px;
    font-size: 0.8em;
    padding: 0;
    font-weight: normal;
    list-style: none;
}
*/
#labelviewnote {
	position: relative;
	top: -84px !important;
	top: -79px;
	left: 18px;
	background: #FFFFE0;
	padding: 0 0 0 0;
	font-weight: bold;
	z-index: 10;
	width: 400px;
	margin-right: 850px;
	margin-bottom: -140px;
}
#labelviewnote ul {
    margin: -15px 0 0 5px;
    font-size: small;
    padding: 0;
    font-weight: normal;
    list-style: none;
}
#label { }
#label ul {
    margin: -10px 0 0 5px;
    font-size: small;
    padding: 0;
    font-weight: normal;
    list-style: none;
}
#labelstatus {
    position: relative;
    top: -85px !important;
    top: -80px;
    left: 18px;
    background: White;
    padding: 0 0 0 0;
    font-weight: bold;
    width: 300px;
    margin-bottom: -118px;
}

.hide {
    display: none;
}

/* .topleft { background: url(../../img/topleft.png) no-repeat top left; } */
.topleftc { background: url(../../img/topleftc.png) no-repeat top left; }
/*.topright { background: url(../../img/topright.png) no-repeat top right; }*/
.bottomleft { background: url(../../img/middle.png) no-repeat bottom left; }
.bottomright { background: url(../../img/middle.png) no-repeat bottom right; }

.contentlabel { padding: 5px; }

._menu { padding: 5px 0 5px 0; }
._menu a:link, ._menu a:visited { text-decoration: none; }
._menu a:hover { color: Red; }
._name {
    text-transform: capitalize;
    font-size: small;
    font-variant: small-caps;
    padding: 5px 0 5px 0;
    border-bottom: thin solid Black;
}
#attachment {
    padding-top: 5px;
}

#login_div {margin:1em 0; line-height:2.5em;}
#login_div #login_button {margin:1em 0}

/*PIEDE*/
#footer { padding: 0px 0px 0px 0px;}
#footer .menusuperiore {margin-top:00px;margin-left:0px;}
#footer .copyright{font-size:0.8em; line-height:1.2em;}
#footer_registration {  position: relative; padding: 20px 10px 10px 30px; top: 90px; background: url(../../img/up.png) no-repeat left;
						margin-left: 20px; margin-bottom: 100px; }
#mail { background: url(../../img/mail.png) no-repeat right; padding: 5px 35px 5px 0;}

/* identifica le parole evidenziate della ricerca*/
.querystring {background-color: #FFFF66;}

/* identifica i li annidati dell'indice e del forum*/
.courseNode { margin-bottom: 10px; margin-top: 10px;}

/* identifica il div che contiene l'indice dei contenuti del corso*/
#courseIndex { padding: 5px; }
#courseIndex ul { list-style-type: none; }

/* identifica il div che contiene il forum dell'istanza del corso*/
#forumIndex { padding: 5px; }
#forumIndex ul { list-style-type: none; }

/* identifica lo span che contiene il menu destro per il forum*/
#span_forum_menu {}
#span_forum_menu ul { list-style-type: none; }

.right_menu { }
/*
 * classe per l'elemento che contiene un nodo di tipo gruppo
 */
.ADA_GROUP_TYPE
{
    background: url(../../img/gruppo.png) no-repeat left;
    padding: 10px 0 10px 35px;
}
/*
 * classe per l'elemento che contiene un nodo Termine di tipo gruppo
 */
.ADA_GROUP_WORD_TYPE
{
    background: url(../../img/gruppo_word.png) no-repeat left;
    padding: 10px 0 10px 35px;
}

/*
 * classe per l'elemento che contiene un nodo di tipo foglia
 */
.ADA_LEAF_TYPE
{
    background: url(../../img/nodo.png) no-repeat left;
    padding: 10px 0 10px 35px;
}
/*
 * classe per l'elemento che contiene un nodo termine (WORD) di tipo foglia
 */
.ADA_LEAF_WORD_TYPE
{
    background: url(../../img/nodo_word.png) no-repeat left;
    padding: 10px 0 10px 35px;
}

/*
 * classe per l'elemento nodo disattivo
 */
.NODE_NOT_VIEWABLE {
    background: url(../../img/_nododis.png) no-repeat left;
    padding: 10px 0 10px 35px;
}

/*
 * classe per l'elemento nota
 */

.ADA_NOTE_TYPE
{
    background: url(../../img/_nota.png) no-repeat left;
    padding: 10px 0 10px 35px;
    color: Black;
}
.ADA_NOTE_TYPE.YOUR_NOTE
{
    background: url(../../img/_nota_pers.png) no-repeat left;
    font-weight: bold;
    padding: 10px 0 10px 35px;
}
.ADA_NOTE_TYPE.TUTOR_NOTE
{
    background: url(../../img/_nota_tutor.png) no-repeat left;
    padding: 10px 0 10px 35px;
}
.ADA_NOTE_TYPE.TUTOR_NOTE.YOUR_NOTE
{
    background: url(../../img/_nota_pers_tutor.png) no-repeat left;
    font-weight: bold;
    padding: 10px 0 10px 35px;
}
.ADA_NOTE_TYPE.YOUR_NOTE.ADA_PRIVATE_NOTE_TYPE
{
    background: url(../../img/_nota_private.png) no-repeat left;
    font-weight: bold;
    padding: 10px 0 10px 35px;
}
.ADA_NOTE_TYPE.TUTOR_NOTE.YOUR_NOTE.ADA_PRIVATE_NOTE_TYPE
{
    background: url(../../img/_nota_private_tutor.png) no-repeat left;
    font-weight: bold;
    padding: 10px 0 10px 35px;
}

.ADA_PRIVATE_NOTE_TYPE {
	background: url(../../img/_nota_private.png) no-repeat left;
    font-weight: bold;
    padding: 10px 0 10px 35px;
}
/*
 * classe per l'elemento nota disattiva
 */
.NOTE_NOTE_VIEWABLE {

}

/*
 * classe per l'elemento che contiene un esercizio
 */
.ADA_EXERCISE
{
    background: url(../../img/_exer.png) no-repeat left;
    padding: 10px 0 10px 35px;
}

/*
 * classe per lo span che mostra il + prima del nome del nodo
 */
.viewNodeChildren
{
    padding: 5px;
    margin-right: 5px;
    font-size: 18px;
    cursor: pointer;
}

/*
 * classe per lo span che mostra il - prima del nome del nodo
 */
.hideNodeChildren
{
    padding: 5px;
    margin-right: 5px;
    font-size: 18px;
   cursor: pointer;
}


/*
 * TABELLE 5 febbraio 2009
 * claire
 */



#com_tools .default_table { width: auto; color:#ccc; }
#com_tools .default_table TD {padding:0 10px 0 0; vertical-align:middle;}
#com_tools .default_table A { color:#fff; background:#777; padding:1px; display:block; padding:2px; }
#com_tools .default_table A:hover {background:#ffc; color:#f50;}

#menuright .default_table {
    width: auto !important;
    width: /**/auto;
}
#menuright tbody td, #mainmenu tbody td { line-height: normal; }

 /*
 * classi per le righe pari e dispari
 */
.default_tr_even {
/*background-color: #FDF5E6;*/
}
 .default_tr_odd {
    /*background-color: #FAEBD7;*/
}
 #menuright .default_tr_even, #mainmenu .default_tr_even, #com_tools .default_tr_even {
    background-color: transparent;
}
 #menuright .default_tr_odd, #mainmenu .default_tr_odd, #com_tools .default_tr_odd {
    background-color: transparent;
}
/*
 * classi per le celle che contengono numeri progressivi
 */
 .default_td_label {
    text-align: center;
    font-weight: bold;
 }

/*
 * classi per le celle di tabelle che contengono input
 */

 td.name { font-weight: bold; }
 td.input { }

/*selettori ID attribuiti a col*/
 #c0 {

 }
 #c1{

 }
 #c2{

 }
 #c3{

 }
 #c4{

 }

 #selfclose {
	background: url(../../img/selfclose.png) no-repeat left;
}
#external_link_browsing {
	width: 99%;
	margin-top: 50px;
	min-height: 470px;
}
.service_info_tab_th {
	width:25%;
	border-right-style: solid;
	border-color: #EEE;
	padding: 15px;
/*	right-background-color: #EEE;*/
	}

.ask_service {
	border-bottom-color: #808080;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	text-align: left;
    font-weight: bold;
	}

/*for self_instruction*/
 
#IndexSelfInstruction
{
    margin-top: -200px;
    margin-bottom: 50px;
}
#content_selfInstruction
{
  min-height: 200px;  
}