@CHARSET "UTF-8";

.saveResults {
	background: rgba(22, 101, 173, 0.9);
	padding: 5px 0px 15px 0px;    
	-webkit-border-radius: 2px;    
    border-radius: 2px;
	-webkit-box-shadow:  0px 0px 2px 2px rgba(0, 0, 0, .2);
    box-shadow:  0px 0px 2px 2px rgba(0, 0, 0, .2);
    font-size: 1.1em;
}

.saveResults p {
	margin:0;
	padding:0;
	border:none;
}

.saveResults .title {
	font-weight: bold;
	text-align : center;
	width: 100%;
	padding: 1px 0px 5px 0px;
	color: #fff;
	border-bottom: 1px solid #a0bfdb;
}

.saveResults .message {
	padding: 15px 0px 0px 0px;
	color:#fff;	
	text-align : center;
	width: 100%;	
}