@CHARSET "UTF-8";

div.form.fform select.form {
	display: inline-block;
	float: none;
}

#registrationError .content {
	color: #D24B4C;
    font-size: 1.4em;
    text-align: center;

}

span.pass-validator-text {
    display: block;
    font-style: italic;
    font-size: 0.9em;
    margin-top: -2em;
}

div.policy.text p {
    text-align: initial;
}