#trebox {
  width: 980px;
  margin: 0 auto;
}

#blocco_uno,
#blocco_due,
#blocco_tre {
	width: 300px;
	height: 300px;
	margin-top: 60px;
	margin-left: 35px;
	float: left;
	background-color:#f7f7f7;
	border: 1px solid #dedede;
	border-radius: 20px;
}

#blocco_uno {
	margin-left: 0;
}

#lista_blocco_uno {
	position:relative;
	margin: 0;
	padding: 0;
}

#lista_blocco_uno li {
	/*padding-bottom:47px;*/
	display:block;
	width:300px;
	height:60px;
	margin-top: 0px;
    line-height: 35px;
    margin-left:-38px;
	text-indent: 65px;
}

#lista_blocco_due,
#lista_blocco_tre {
	padding: 15px 0 0 0;
 	margin: 0;
}

#lista_blocco_due li,
#lista_blocco_tre li {
	padding-bottom:47px;
    line-height: 35px;
	text-indent: 35px;
}

#lista_blocco_uno li a,
#lista_blocco_due li a,
#lista_blocco_tre li a {
	text-transform: capitalize;
}

#cosacedinuovo {
	position:relative;
	height:53px;
	line-height:53px;
	text-indent:30px;
	/*padding-top:15px;
	padding-left:25px;*/
	font-size: 22px;
	color: #4c5e80;
	font-family: "Times New Roman", Times, serif;
        border-bottom: 2px #dedede solid;
/*        background: url(../../img/news.png) bottom right no-repeat;*/
}

#new_nodes{
   // margin-left: -33px;
}
.icon-block-user {
  position: absolute;
  top: -12px;
  right: 15px;
}

#corsodilingua {
	position:relative;
	height:53px;
	line-height:53px;
	text-indent:30px;
	/*padding-top:15px;
	padding-left:25px;*/
	font-size: 22px;
	color: #4c5e80;
	font-family: "Times New Roman", Times, serif;
        border-bottom: 2px #dedede solid;
}

#laclasse {
	position:relative;
	height:53px;
	line-height:53px;
	text-indent:30px;
	/*padding-top:15px;
	padding-left:15px;*/
	font-size: 22px;
	color: #4c5e80;
	font-family: "Times New Roman", Times, serif;
        border-bottom: 2px #dedede solid;
}

#msg_forum {
	position:relative;
	padding-top:1px;
	padding-left:30px;
	margin-top: 5px !important;
	font-size: 12px;
	color: #666666;
}

#msg {
	position:relative;
	padding-top:0px;
	padding-left:1px;
	margin-top: 0px !important;
	font-size: 12px;
	color: #666666;
}

#gocontinue {
	position:relative;
	padding-top:1px;
	padding-left:1px;
	font-size: 12px;
	color: #666666;
}

#goforum {
	position:relative;
	padding-top:1px;
	padding-left:1px;
	font-size: 12px;
	color: #666666;
}

#msg_agenda {
	position:relative;
	padding-top:1px;
	padding-left:1px;
	font-size: 12px;
	color: #666666;
}

#goindex {
	position:relative;
	padding-top:1px;
	padding-left:1px;
	font-size: 12px;
	color: #666666;
}

#gochat {
	position:relative;
	padding-top:1px;
	padding-left:1px;
	font-size: 12px;
	color: #666666;
}

/*
 * table.doDataTable jQuery dataTable
 */
#container table.doDataTable { width: 100% !important; }
#container table.doDataTable tbody td { height: 2.5em; border:none; vertical-align: middle; }
#container table.doDataTable thead th { padding-right: 5px; border-bottom: 1px solid #999; }
#container table.doDataTable .DataTables_sort_wrapper { padding: 5px 0 5px 0; width:90%; }
#container .dataTables_wrapper div.dataTables_paginate > a { margin:0; padding: 3px; }
.dataTables_length,
.dataTables_filter,
.dataTables_paginate { padding: 5px; }
.dataTables_info { padding: 8px 0 0 5px; }
#container table.doDataTable .dontwrap { white-space: nowrap; }
#container table.doDataTable tfoot th { font-weight: 100; padding: 10px 0 10px 0; text-align: center; border-top: 1px solid #999; }
#container table.doDataTable td.actionCol,
#container table.doDataTable td.centerAlign { text-align: center; }
#container table.doDataTable td.actionCol a { margin-right: 10px; background-color:transparent; display: inline-block; }
#container table.doDataTable .DataTables_sort_icon { float: right; margin-top: -20px; }
#container table.doDataTable caption { width: 65%; margin: -25px auto 0 auto; position: relative; top: -4px; font-weight: bold;   color: #fff; }
/*
 * end table.doDataTable jQuery dataTable
 */
 