<div id="testForm">
	<div id="exerciseWrap">
		<div id="media">
			<img class="popup" src="../../../modules/test/template/media_or_image.png" width="240" hspace="5" vspace="5">
			<div class="didascalia">Qui: didascalia</div>
		</div>

		<div class="exercise">
			<div class="question">
				<div class="questionDd">
					<table>
						<tbody>
							<tr><td><b>Cognome:</b></td><td></td></tr>
							<tr><td><b>Nome:</b></td><td></td></tr>
							<tr><td><b>Sesso:</b></td><td></td></tr>
							<tr><td><b>Età:</b></td><td></td></tr>
							<tr><td><b>Nazionalità:</b></td><td></td></tr>
							<tr><td><b>Professione:</b></td><td></td></tr>
							<tr><td><b>Tempo libero:</b></td><td></td></tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="clearfix">&nbsp;</div>
	</div>
<div id="iconExercise">