@CHARSET "UTF-8";
@import url("../../../../../layout/ada_blu/css/print.css");

#contentcontent #buttonsBar,
#contentcontent table.survey thead {
	display: none !important;
}

#contentcontent table.survey tr.topic {
	background: #ececea;
	border-bottom-color: #a9a9a9;
	text-transform: capitalize;
	font-weight: bold;
}

#contentcontent tr.counts td:not(:first-child),
#contentcontent tr.labels td:not(:first-child) {
    text-align: right;
    border-left: 1px solid rgb(236, 236, 234);
    padding-right: 1em;
    vertical-align: middle;
}

#contentcontent table.survey tr.counts td:not(:first-child) {
	/* background: red; */
	text-align: right;
}

#contentcontent table.survey tr.labels > td:first-child {
    width: 70%;
}

#contentcontent table.survey > caption {
	font-size: 1.2em;
}

#contentcontent table.survey {
	margin-bottom: 5em;
}
