@CHARSET "UTF-8";

/* THIS IS JUST THE BASIC CSS WITH THE BACK BUTTON STYLED
   USE IT TO BUILD MODULE'S OWN CSS */

#back a {
	background: url(../../../../../layout/ada_blu/img/back.png) no-repeat
		center left;
	display: block;
	padding: 0 0 0 40px;
}

#getButton {
	margin: 0 auto;
}

#gettokenpage, #outputtoken {
	text-align: center;
	border: 1px dotted #eaeaea;
	padding: 10px;
}

#outputtoken {
	font-size: 1.2em;
	background: lightyellow;
	margin-top: 10px;
}