@CHARSET "UTF-8";

@import url("showHideDiv.css");

#classcalendar { width: 70%; float:left; }
#saveCalendar  { margin: 10px auto; }
#selectClassContainer { border: 1px dotted gray; padding:10px; margin-bottom: 15px; }
#classrooms,
#tutorsListContainer,
#deleteButtonContainer { width: 26%; float: right; margin: 0 0 1% 1%; border: 1px dotted gray; padding: 1%; }

#deleteButtonContainer,
#buttonsContainer { border:none; text-align: center; }

label.venuesListLabel { display: block; margin-bottom: 5px; }
#venuesList { width: 100%; display: block; margin-bottom: 5px; }
#instancesList { min-width: 40%; }
.selectclassroomspan,
.selecttutorspan { display: block; margin-bottom: 5px; }

#tutorslist input[name="tutorradio"] { float:left; }
#tutorslist .tutorradiotext { width:88%; float: left; margin-bottom: 2%; overflow: hidden; text-overflow: ellipsis; }

#calendarContainer label { cursor: pointer; }

span.roomnameInEvent { color: gold; margin: 5px 0 0 5px; display: block; }
span.tutornameInEvent { color: darkgreen; margin: 5px 0 0 5px; display: block; }
span.studentcount { float: right; }

a.noteditableClassroomEvent { background: lightslategray; opacity:0.9; z-index:1 !important; pointer-events: none; }
a.editableClassroomEvent { z-index: 2 !important; }
/**
 * details, alert and confirm dialogs
 */
#confirmDialog,.ui-dialog-titlebar,.ui-button-text
    {
    font-size: 0.9em;
}

div#confirmDialog {
    display: none;
    width:70%;
}

#confirmDialog {
    text-align: center;
}

#questionMustSave
    {
    text-align: center;
    display: inline-block;
    margin-top: 15px;
    overflow: none;
}

#classcalendar a.selectedClassroomEvent { background: red; }