@import url("../page.css");
@import url("../exercises.css");
@import url("../form.css");

#pagecontainer {
	margin-bottom: -15px;
}

#jsbuttons .ui.button {
	width: 13rem;
}

#jsbuttons, #jsaddons, #jsnode_data_div {
	position: absolute;
	width: 28%;
	right: 1rem;
	padding: 1rem;
	border: 1px solid #bfbfbf;
	background: #dcdcdc;
}

#jsbuttons {
	top: 175px;
	line-height: 2;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
}

#jsaddons, #jsnode_data_div {
	top: 200px;
	height: auto;
	margin-top: 3rem;
	border-top: none;
	border-radius: 0 0 5px 5px;
	margin-bottom: 1rem;
}

#jsaddons {
	z-index: 5;
}

#jsnode_data_div {
	z-index: 10;
}

#jsid_divle, #jsid_divli, #jsid_divfu {
	display: none;
}

#description_media textarea[name="descrizione"], #jsid_select_files,
	#jsid_select_external_links, #jsid_textle {
	width: 100%;
}

#jsnode_data_div div {
	padding: 0.2rem;
}

/*
 * Node editor
 */
#jseditor_form {
	width: 68%;
}

#jsdata_textarea {
	width: 100%;
	height: 350px;
}

#jsdata_hyphenarea {
	width: 100%;
	height: 50px;
}

#jsdata_semanticarea {
	width: 100%;
	height: 50px;
}

#jsdata_grammararea {
	width: 100%;
	height: 50px;
}

#jsdata_notesarea {
	width: 100%;
	height: 50px;
}

#jsdata_examplesarea {
	width: 100%;
	height: 50px;
}