@CHARSET "UTF-8";

#back a {
	/*
    position: absolute;
    top: -2px;
    left: 0px;
    clear: both;
    background: url(../../../../../layout/ada_blu/img/back.png) no-repeat left;
    */
	background: url(../../../../../layout/ada_blu/img/back.png) no-repeat
		center left;
	display: block;
	padding: 0 0 0 40px;
}

#newsletterHistoryDetails caption {
	margin-top: -26px;
	color: #fff;
}

.DataTables_sort_icon {
	float: right;
}