@CHARSET "UTF-8";

#content {
	width: 100%;
	float:left;
}

#pagecontainer {
	margin-bottom: -55px;
}


#newsletterHistoryDetails caption {
	margin-top: -26px;
	color: #fff;
}

.DataTables_sort_icon {
	float: right;
}