@CHARSET "UTF-8";

#newsletterHistory caption {
	margin-top: -26px;
	color: #fff;
}

.newButton {
	float: right;
	margin-bottom: 20px;
}

.ulactions {
	list-style-type: none;
	margin-left: -40px;
}

.liactions {
	float: left;
	border: none !important;
}

.DataTables_sort_icon {
	float: right;
}

#subject,#sender,#plaintext {
	width: 100%;
}

form label {
	width: auto;
	margin-right: 10px;
}

.newsletterSaveResultstext {
	display: block;
	text-align: center;
	margin: 20px;
}

.newsletterSaveResults {
	text-align: center;
}
