html,body {
	background: #fff;
}

#corsi {
	position: absolute;
	top: 20px;
	left: 170px;
}

#manuali {
	position: absolute;
	top: 20px;
	left: 310px;
}

#contatti {
	position: absolute;
	top: 20px;
	left: 460px;
}

#submenubanner {
	background: #FFA400;
	color: #FFFFFF;
}

#newscont {
	width: 100%;
	float: left;
}

#newscont .news {
	width: 30%;
	float: left;
	background: #9da5b8;
	color: #fff;
	margin-right: 5px;
	padding: 10px;
	height: 175px;
	position: relative;
}

#newscont .news .newstitle {
	font-size: 150%;
	font-weight: bold;
}
#submenu_question_mark {
    position: absolute;
    left: 490px;
    top: 135px;
    padding: 0;
}

#newscont .news .continuelink {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#footer {
	background: #c5C9D2;
	color: #fff;
	font-size: 120%;
	padding: 5px;
}

#footer .copyright {
	color: #fff;
}

#footer a:link,#footer a:visited {
	color: #fff;
}

#footer a:hover {
	color: #aeaeae;
}

.portlet {
    border: 1px dotted beige;
    background: #eaeaea;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 10px 5px 0;
    /* box-shadow: 0px 5px 15px 0px rgba(120, 120, 120, .4);     */
}
.column { 
    padding-bottom: 10px;
    width: 99%;
    float: left;
}
.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.4em; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }

.ui.popup, .user_data_default {
	min-width:220px;
	max-width:500px;
}
.user_data_default {
    text-align: left;
    text-transform: capitalize;
    line-height:1.7em;
}
.ui.popup span {
    color:#000;
    display: block;
}
.avatar_user {
  float: left;
  margin-right: 5px;
}

#span_remindme {
	float: left;
	margin-top:  4px;
}
#label_remindme label {
	cursor: pointer;	
	display: inline-block;
}

.RSSContent a { margin-top: 10px; display: inline-block; }
.facebookContainer,
.twitterContainer { margin-bottom: 15px; overflow: hidden; text-overflow: ellipsis; }
