html,body {
	background: #fff;
}

#corsi {
	position: absolute;
	top: 20px;
	left: 170px;
}

#manuali {
	position: absolute;
	top: 20px;
	left: 310px;
}

#contatti {
	position: absolute;
	top: 20px;
	left: 460px;
}

#submenubanner {
	background: #FFA400;
	color: #FFFFFF;
}

#newscont {
	width: 100%;
	float: left;
}

#submenu_question_mark {
    position: absolute;
    left: 490px;
    top: 135px;
    padding: 0;
}

.portlet {
    border: 1px dotted beige;
    background: #eaeaea;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 10px 5px 0;
    /* box-shadow: 0px 5px 15px 0px rgba(120, 120, 120, .4);     */
}

.ada-column { 
    padding-bottom: 10px;
    width: 99%;
    float: left;
}

#container .portlet-header { 
	margin: -0.7em;
	margin-bottom:0;
    border: none ;
    border-radius: 0;
    padding: 0.5em;
    text-transform: capitalize;
 }
 
#container .ui-widget-content {
 	background: none;
 	background-color: #f5f5f5	;
 	
}

#container a { color: #72A9D3; }
#container a:hover { color: #1263A0; }

.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.4em; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }

.ui.popup, .user_data_default {
	min-width:220px;
	max-width:500px;
}
.user_data_default {
    text-align: left;
    text-transform: capitalize;
    line-height:1.7em;
}
.ui.popup span {
    color:#000;
    display: block;
}
.avatar_user {
  float: left;
  margin-right: 5px;
}

#span_remindme {
	float: left;
	margin-top:  4px;
}
#label_remindme label {
	cursor: pointer;	
	display: inline-block;
}

.RSSContent a { margin-top: 10px; display: inline-block; }
.facebookContainer,
.twitterContainer { margin-bottom: 15px; overflow: hidden; text-overflow: ellipsis; }

#newscont .continuelink.row { margin:0; padding:0; }
#newscont .newstitle { display: inline-block; }
#newscont p.newscontent { color: #767676; line-height: 1.5rem; }
#newscont a.newstitle { color: #777; }
#newscont a.newstitle:hover { color: #1263A0; }
