/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 30-dic-2014, 15.19.31
    Author     : sara
*/

@import url("../switcher/tooltips.css");

#data{display:none;}

#contentcontent {
    width: 100%;
}

.contentlabel {
    width: 97%;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.fg-toolbar.ui-widget-header {
    background: repeat-x scroll 50% 50% #BCD6D7;
    border: 1px solid #A3A99A;
    color: #585857;
    font-weight: bold;
    height: 30px;
}
.tooltip {
   background: transparent;
   border-color: transparent;
   cursor: pointer;
 }
a:not(.ui.button),li{
    background: transparent !important;
    color:#585857;
}
