@import url('index.css');

div.fform.form {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
}
fieldset.form {
  margin-bottom: 10px;
  border: none;
}
legend.form {
  padding: 0 2px;
  font-weight: bold;
}
label.form {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
}
fieldset.form ol.form {
  margin: 0;
  padding: 0;
}
fieldset.form li.form {
  list-style: none;
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid #aaaaaa;
}

fieldset.form fieldset.form {
  border: none;
  margin: 0px;
}

fieldset.form fieldset.form legend.form {
  padding: 0px;
  font-weight: normal;
}

fieldset.form fieldset.form label.form {
  display: block;
  width: auto;
  margin-left: 123px; /* Width plus 3 (html space) */
}

fieldset.form fieldset.form li.form {
  border-bottom: 0px solid #aaaaaa;
}

em.form {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}

label.form {
  width: auto;
}

.error.form {
    color: #ff0000;
}

p.form {
    text-align: center;
}

li.form.hidden {
    display: none;
}

/*
* class to show general message for errors
*/

div.hide_error {
    display: none;
}

div.show_error {
    display:  block;
    color: #ff0000;
}

#error_form.form {
	text-align:center;
}

.clear.form {
	clear:both;
}

.answers_header {
	font-weight: bold;
}

.answers_header, .answer_content, .answers_footer {
	text-align: center;
}

.cell, .answers_cell {
	display: inline-block;
	text-align:center;
	margin:0px 5px;
}

.cell.other_answer, .answers_cell.other_answer {
	width:14%;
}

.cell.answer, .answers_cell.answer {
	width:35%;
}

.cell.value, .answers_cell.value {
	width:10%;
}

.cell.case_sensitive, .answers_cell.case_sensitive {
	width:17%;
}

.cell.operations, .answers_cell.operations {
	width:19%;
}

.answers_cell input.answer {
	width:80%;
}

.answers_cell img.addImage {
	vertical-align: bottom;
	cursor: pointer;
}

.answers_cell input.value {
	width:100%;
}

.hidden, .dialog {
	display:none;
}

.clozePopup {
	cursor: pointer;
	background: url('../img/pencil.png');
	width:16px;
	height:16px;
	display:inline-block;
	vertical-align: middle;
}

.addSilk {
	cursor: pointer;
	background: url('../img/add.png');
	width:16px;
	height:16px;
	display:inline-block;
	vertical-align: middle;
}

.deleteSilk {
	cursor: pointer;
	background: url('../img/delete.png');
	width:16px;
	height:16px;
	display:inline-block;
	vertical-align: middle;
}

.colButton {
	text-align: center;
	vertical-align: middle;
}