@CHARSET 'UTF-8';

button.hybridLogin.login {
   float: none;
  display: block;
   margin-top: 10px;
  color: #fff;
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: left center;
  cursor: pointer; */
  text-align: left;
}

#google-button {
  background-color: #D34836;
}

#facebook-button {
  background-color: #3B579D;  
}

#ldap-button::before,
#ada-button::before {
	font-family: 'Icons';
	content: '\f090';
	font-size: 1.2em;
	vertical-align: middle;
	margin-right: 0.5rem;
}

#google-button::before {
	font-family: 'Icons';
	content: '\f0d5';
	font-size: 1.2em;
	vertical-align: middle;
	margin-right: 0.5rem;
}

#facebook-button::before {
	font-family: 'Icons';
	content: '\f09a';
	font-size: 1.2em;
	vertical-align: middle;
	margin-right: 0.5rem;
}

div#language_selection {
	width: 18em;
	border: .1em solid rgba(0,0,0,.1);
	overflow: hidden;
	background-repeat: no-repeat;
    background-position: 97% 50%;
    background-color: #fff;
    background-image:
        url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHg9IjAiIHk9IjAiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxMiA1MTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBmaWxsPSIjMDAwMDAwIiBmaWxsLW9wYWNpdHk9IjAuNCIgZD0iTTI1NiAzNTJMOTYgMTk4LjQgMTQxLjcgMTYwIDI1NiAyNzUuMiAzNzAuMyAxNjAgNDE2IDE5OC40IDI1NiAzNTJ6Ii8+PC9zdmc+");   
}

select#p_selected_language {
	background: transparent;
	color: rgba(0,0,0,.5);
	border:0 none;
	width: 20em;
	padding: 0.5em;
	line-height: 1; 
}

#login_form #p_username,
#login_form #p_password {
	color: rgba(0,0,0,.5);	
	width: 17em;
	padding: 0.5em;
	border: .1em solid rgba(0,0,0,.1);
	border-radius: 0;
}