@CHARSET "UTF-8";

#content {
	width: 100%;
	float: left;
}

#pagecontainer {
	margin-bottom: -55px;
}

#completeRulesList caption {
	margin-top: -26px;
}

.newButton {
	float: right;
	margin: 0;
}

.newButton.top {
	margin-bottom: 20px;
}

.newButton.bottom {
	margin-top: 20px;
}

.ulactions {
	list-style-type: none;
	margin-left: -53px;
}

.liactions {
	float: left;
	border: none !important;
}

.DataTables_sort_icon {
	float: right;
}

.editButton,.applyButton,.deleteButton {
	height: 1.5em;
}