@CHARSET "UTF-8";

/* THIS IS JUST THE BASIC CSS WITH THE BACK BUTTON STYLED
   USE IT TO BUILD MODULE'S OWN CSS */

#back a {
	background: url(../../../../../layout/ada_blu/img/back.png) no-repeat
		center left;
	display: block;
	padding: 0 0 0 40px;
}

#l_ruleDescription {
	width: 20%;
	line-height: 2em;
	text-align: right;
}
#ruleDescription  {
	padding: 0 5px 0 5px;
	line-height: 1.5em;
	border: 1px solid lightgray;
	width: 75%;
}

#ConditionSetDIV,
#submitDIV {
	width: 95%;
	margin: 0 auto;
	margin-bottom: 10px;	
}

#submitDIV {
	text-align: right;
	margin-top: 10px;
}

#operationsTableContainer {
	width: 100%;
	margin: 0 auto;
	margin-top: 10px;
}

#operationsTableContainer thead {
	background: none;
}

#operationsTableContainer th {
	text-align: center;
	padding: 5px;
}

#operationsTableContainer th.containerHead1 {
	background: lightblue;
}

#operationsTableContainer td.containerCol0 {
	width: 20px; 
	vertical-align: middle;
	background: lightskyblue;
}

#operationsTableContainer td.containerCol1 {
	background: darkseagreen;
}

#operationsTableContainer td.containerCol0 p {
	font-weight: bold;
	-webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#operationsTable {
	width: 100%;
}

#operationsTable td.colSelect {
	width: 23%;
	text-align: center;	
}

#operationsTable td.colParam,
#operationsTable th.colParam {
	border-right: 1px solid #ececea;
}

#operationsTable td.colParam.last,
#operationsTable th.colParam.last {
	border: none;
}

#operationsTable tr.addButtonRow {
	border-top: 1px solid #ececea;
	padding-left: 5px;
}

#operationsTable tr.addButtonRow td {
	padding-left: 10px;	
}

#operationsTable td.colParam {
	width: 10%;
	text-align: center;
}

#operationsTable tbody td {
	border: none;
}

#divLegend {
	border: 1px dotted black;
}

#divLegend ol li p {
	text-align: left;
}

 .saveResultstext {
	display: block;
	text-align: center;
	margin: 20px;
}


.saveResults.popup {
	background: rgba(22, 101, 173, 0.9);
	padding: 5px 0px 15px 0px;    
	-webkit-border-radius: 2px;    
    border-radius: 2px;
	-webkit-box-shadow:  0px 0px 2px 2px rgba(0, 0, 0, .2);
    box-shadow:  0px 0px 2px 2px rgba(0, 0, 0, .2);
    font-size: 1.1em;
}

.saveResults.popup.error  {
	background: rgba(222, 10, 17, 0.9);
}

.saveResults.nonAjax {
	background: none;
	text-align: center;
}

.saveResults p {
	margin:0;
	padding:0;
	border:none;
}

.saveResults .title {
	font-weight: bold;
	text-align : center;
	width: 100%;
	padding: 1px 0px 5px 0px;
	color: #fff;
	border-bottom: 1px solid #a0bfdb;
}

.saveResults .message {
	padding: 15px 0px 0px 0px;
	color:#fff;	
	text-align : center;
	width: 100%;	
}