@CHARSET "UTF-8";

#footer { padding: 0px 5px 0px 5px;}
#footer .menusuperiore {margin-top:00px;margin-left:0px;}
#footer .copyright{font-size:0.8em; line-height:1.2em;}
#footer_registration {  position: relative; padding: 20px 10px 10px 30px; top: 90px; background: url(../../img/up.png) no-repeat left;
						margin-left: 20px; margin-bottom: 100px; }
