@import url("page.css");
@import url("exercises.css");
@import url("form.css");

body {
	padding:1em;
}

.media.sound,
.media.pronounce,
.media.video,
.media.labiale,
.media.lis,
.media.finger-spelling,
.meida.doc,
div.ui,
div#status_bar,
div#user_data,
div#labelview,
div#rightpanelcontent,
a[name=top],
div#index_in_text,
div#exercises_in_text,
div#com_tools,
div#footer img,
hr
	{
	display: none;
}

* {
	font-family: sans-serif;
}

.content_small {
	margin-right:0;
}

#container {
	padding-top:0px;
}
