@import url("page.css");
@import url("exercises.css");
@import url("form.css");

.media.sound,
.media.pronounce,
.media.video,
.media.labiale,
.media.lis,
.media.finger-spelling,
.meida.doc,
#mainmenu,
#com_toolscontent,
#menuright,
#rightpanel,
#footer img,
#index_in_text,
#exercises_in_text
	{
	display: none;
}

* {
	font-family: sans-serif;
}

.content_small {
	margin-right:0;
}

#container {
	padding-top:0px;
}