RewriteEngine On
RewriteBase /api

# Redirect requests to the /token endpoint to tokenController.php
RewriteRule ^token(\/)?$ tokenController.php [END]

# Redirect direct tokenController.php requests to 404 not found
RewriteRule ^tokenController.php$ - [END,R=404]

# Redirect all requests not pointing at an actual file to index.php
# always pointing to the latest stable api version (see the vx/ path)
# SET IN THE BELOW RewriteRule THE LATEST STABLE API VERSION TO REDIRECT TO
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ v1/$1 [END,QSA,R=301]
